@charset "utf-8";
/* CSS Document */

*{
    margin:0px;
    padding:0px;
	}
body {    
    width: 1360px;
    font-size:20px;
    font-weight: 300;
}



/* BUTTONS */


.btn:link,
.btn:visited {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 40px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 1s, border 0.2s,color 1s;
}

.btn-full:link,
.btn-full:visited {
    margin-right: 30px;
    background-color: #2fc988 ;
    border: 1px solid #22e693 ;
    color: #fff;
    margin-right: 50px;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #ed2f2f; 
    border: 1px solid #ed2f2f;
    color: #fff;
}   

.btn:hover,
.btn:active
{
    background-color: #fff;
    color: #000;
}

.btn-full:hover,
.btn-full:active
{
    border: 1px solid #000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #000;
}   

#b ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     margin-left:650px;
    padding-top: 10px;
}

#b ul li a{
    float: left;
}


#b ul li a {
    display: list-item;
    color: #2c3e50;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

#b ul li a.active {
     color: #22e693;
}

#b ul li a:hover:not(.active) {
     color: #22e693;
}
#b ul li:hover > ul {
    display: inline-block;
	}
#b ul ul {
	display: none;
    position:absolute;  
	top:100%;
	left:5%;
	padding:0;
    margin-top: -10px;
    background-color: #fff;
	}
#b ul ul li {
	display:block;
	}
#b ul ul a
	{
	line-height:100%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}	

.logo {
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: auto;
    float: left;
}


/* Header */

#b{ 
    height:70px; 
    width:1360px; 
    z-index: 999;
    background-color: #fff;
    font-size:16px;
    box-shadow: 0 3px 10px #434343;
    position: fixed;
}

/* Background */

.hero{
    height: 550px;
    width: 1360px;
    background-image:linear-gradient(rgba(0,0,00,0.2), rgba(0,0,00,0.2)), url(photos/2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hero-text-box{
    width: 740px;
    padding-top: 235px;
    margin-left: 310px;
    text-align: center;
    color: #fff;
    font-weight: 200;
}

.main-section{
    height: 800px;
    width: 1360px;
}

.news-img1 {
    height: 300px;
    width: auto;
    margin-left: 0px;
    margin-top: -80px;
    background: none;
}

.news-img1:hover{
    filter: grayscale(70%);
}

.caption-img1{
    position: absolute;
    top: 108%;
    left: 9.3%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 400px;
    padding: 10px 66px;
}

.caption-img1 p{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.news-img2 {
    height: 300px;
    width: auto;
    margin-left: 125px;
    margin-top: -80px;
    float: left;
}

.news-img2:hover{
    filter: grayscale(70%);
}

.caption-img2{
    position: absolute;
    top: 108%;
    left: 49.3%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 400px;
    padding: 10px 66px;

}

.caption-img2 p{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.vehicles{
    height: 628px;
    width: auto;    
    margin-top: 50px;   
}

h3{
    text-align: center;
    font-size: 40px;
    padding-top: 35px;
    font-weight: 200;
}

h3:after{
    display: block;
    height: 2px;
    background-color: #22e693;
    content: " ";
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
}

.vehicles img{
    background: #000;
    overflow: hidden;
}

.vehicles img:hover{
    opacity: 0.7;
}
/* ---------------------------------- */
/*          Contact   */
/* ---------------------------------- */
h2{
    font-weight: 400;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #22e693;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}


.contact-form{
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 25px;
}

input[type=text],
input[type=email],
textarea{
    margin-left: 30px;
    width: 70%;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

select{
    width: 70%;
    margin-left: 30px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 10px 10px 30px;
    
}

*:focus{
    outline: none;
}

input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 1s, border 0.2s,color 1s;
    margin-left: 30px;
}

input[type=submit]{
    background-color: #ed2f2f;
    border: 1px solid #ed2f2f;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover,
input[type=submit]:active
{
    background-color: #f70a0a;    
}

input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #cf6d17;
}

/* ---------------------------------- */
/*          Footer   */
/* ---------------------------------- */

footer{
    background-color: #2c3e50;
    padding: 45px; 
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0px;
}

.footer-nav li:first-child,
.social-links li:first-child{
    margin-left: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border-bottom: 0;
    color: #a2a2a2;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #fff;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-googleplus{
    transition: color 0.2s;
}

.icon-facebook:hover{
    color: #3b5998;
}

.icon-twitter:hover{
    color: #00aced;
}

.icon-instagram:hover{
    color: #517fa4;
}

.icon-googleplus:hover{
    color: #d54b39;
}

footer p{
    color: #a2a2a2;
    text-align: center;
    margin-top: 50px;
}


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}


/*  GRID OF THREE   ============================================================================= */

	
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */

	
.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-4-of-4 {
		width: 100%; 
	}
	.span-3-of-4 {
		width: 100%; 
	}
	.span-2-of-4 {
		width: 100%; 
	}
	.span-1-of-4 {
		width: 100%; 
	}
}


/*  GRID OF FIVE   ============================================================================= */

	
.span-5-of-5 {
	width: 100%;
}

.span-4-of-5 {
  	width: 79.68%; 
}

.span-3-of-5 {
  	width: 59.36%; 
}

.span-2-of-5 {
  	width: 39.04%;
}

.span-1-of-5 {
  	width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-5-of-5 {
		width: 100%; 
	}
	.span-4-of-5 {
		width: 100%; 
	}
	.span-3-of-5 {
		width: 100%; 
	}
	.span-2-of-5 {
		width: 100%; 
	}
	.span-1-of-5 {
		width: 100%; 
	}
}


/*  GRID OF SIX   ============================================================================= */


.span-6-of-6 {
	width: 100%;
}

.span-5-of-6 {
  	width: 83.06%;
}

.span-4-of-6 {
  	width: 66.13%;
}

.span-3-of-6 {
  	width: 49.2%;
}

.span-2-of-6 {
  	width: 32.26%;
}

.span-1-of-6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-6-of-6 {
		width: 100%; 
	}
	.span-5-of-6 {
		width: 100%; 
	}
	.span-4-of-6 {
		width: 100%; 
	}
	.span-3-of-6 {
		width: 100%; 
	}
	.span-2-of-6 {
		width: 100%; 
	}
	.span-1-of-6 {
		width: 100%; 
	}
}



/*  GRID OF SEVEN   ============================================================================= */


.span-7-of-7 {
	width: 100%;
}

.span-6-of-7 {
	width: 85.48%;
}

.span-5-of-7 {
  	width: 70.97%;
}

.span-4-of-7 {
  	width: 56.45%;
}

.span-3-of-7 {
  	width: 41.94%;
}

.span-2-of-7 {
  	width: 27.42%;
}

.span-1-of-7 {
  	width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-7-of-7 {
		width: 100%; 
	}
	.span-6-of-7 {
		width: 100%; 
	}
	.span-5-of-7 {
		width: 100%; 
	}
	.span-4-of-7 {
		width: 100%; 
	}
	.span-3-of-7 {
		width: 100%; 
	}
	.span-2-of-7 {
		width: 100%; 
	}
	.span-1-of-7 {
		width: 100%; 
	}
}


/*  GRID OF EIGHT   ============================================================================= */

	
.span-8-of-8 {
	width: 100%;
}

.span-7-of-8 {
	width: 87.3%; 
}

.span-6-of-8 {
	width: 74.6%; 
}

.span-5-of-8 {
	width: 61.9%; 
}

.span-4-of-8 {
	width: 49.2%; 
}

.span-3-of-8 {
	width: 36.5%;
}

.span-2-of-8 {
	width: 23.8%; 
}

.span-1-of-8 {
	width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-8-of-8 {
		width: 100%; 
	}
	.span-7-of-8 {
		width: 100%; 
	}
	.span-6-of-8 {
		width: 100%; 
	}
	.span-5-of-8 {
		width: 100%; 
	}
	.span-4-of-8 {
		width: 100%; 
	}
	.span-3-of-8 {
		width: 100%; 
	}
	.span-2-of-8 {
		width: 100%; 
	}
	.span-1-of-8 {
		width: 100%; 
	}
}


/*  GRID OF NINE   ============================================================================= */


.span-9-of-9 {
	width: 100%;
}

.span-8-of-9 {
	width: 88.71%;
}

.span-7-of-9 {
	width: 77.42%; 
}

.span-6-of-9 {
	width: 66.13%; 
}

.span-5-of-9 {
	width: 54.84%; 
}

.span-4-of-9 {
	width: 43.55%; 
}

.span-3-of-9 {
	width: 32.26%;
}

.span-2-of-9 {
	width: 20.97%; 
}

.span-1-of-9 {
	width: 9.68%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-9-of-9 {
		width: 100%; 
	}
	.span-8-of-9 {
		width: 100%; 
	}
	.span-7-of-9 {
		width: 100%; 
	}
	.span-6-of-9 {
		width: 100%; 
	}
	.span-5-of-9 {
		width: 100%; 
	}
	.span-4-of-9 {
		width: 100%; 
	}
	.span-3-of-9 {
		width: 100%; 
	}
	.span-2-of-9 {
		width: 100%; 
	}
	.span-1-of-9 {
		width: 100%; 
	}
}


/*  GRID OF TEN   ============================================================================= */


.span-10-of-10 {
	width: 100%;
}

.span-9-of-10 {
	width: 89.84%;
}

.span-8-of-10 {
	width: 79.68%;
}

.span-7-of-10 {
	width: 69.52%; 
}

.span-6-of-10 {
	width: 59.36%; 
}

.span-5-of-10 {
	width: 49.2%; 
}

.span-4-of-10 {
	width: 39.04%; 
}

.span-3-of-10 {
	width: 28.88%;
}

.span-2-of-10 {
	width: 18.72%; 
}

.span-1-of-10 {
	width: 8.56%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-10-of-10 {
		width: 100%; 
	}
	.span-9-of-10 {
		width: 100%; 
	}
	.span-8-of-10 {
		width: 100%; 
	}
	.span-7-of-10 {
		width: 100%; 
	}
	.span-6-of-10 {
		width: 100%; 
	}
	.span-5-of-10 {
		width: 100%; 
	}
	.span-4-of-10 {
		width: 100%; 
	}
	.span-3-of-10 {
		width: 100%; 
	}
	.span-2-of-10 {
		width: 100%; 
	}
	.span-1-of-10 {
		width: 100%; 
	}
}


/*  GRID OF ELEVEN   ============================================================================= */

.span-11-of-11 {
	width: 100%;
}

.span-10-of-11 {
	width: 90.76%;
}

.span-9-of-11 {
	width: 81.52%;
}

.span-8-of-11 {
	width: 72.29%;
}

.span-7-of-11 {
	width: 63.05%; 
}

.span-6-of-11 {
	width: 53.81%; 
}

.span-5-of-11 {
	width: 44.58%; 
}

.span-4-of-11 {
	width: 35.34%; 
}

.span-3-of-11 {
	width: 26.1%;
}

.span-2-of-11 {
	width: 16.87%; 
}

.span-1-of-11 {
	width: 7.63%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-11-of-11 {
		width: 100%; 
	}
	.span-10-of-11 {
		width: 100%; 
	}
	.span-9-of-11 {
		width: 100%; 
	}
	.span-8-of-11 {
		width: 100%; 
	}
	.span-7-of-11 {
		width: 100%; 
	}
	.span-6-of-11 {
		width: 100%; 
	}
	.span-5-of-11 {
		width: 100%; 
	}
	.span-4-of-11 {
		width: 100%; 
	}
	.span-3-of-11 {
		width: 100%; 
	}
	.span-2-of-11 {
		width: 100%; 
	}
	.span-1-of-11 {
		width: 100%; 
	}
}


/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
	width: 91.53%;
}

.span-10-of-12 {
	width: 83.06%;
}

.span-9-of-12 {
	width: 74.6%;
}

.span-8-of-12 {
	width: 66.13%;
}

.span-7-of-12 {
	width: 57.66%; 
}

.span-6-of-12 {
	width: 49.2%; 
}

.span-5-of-12 {
	width: 40.73%; 
}

.span-4-of-12 {
	width: 32.26%; 
}

.span-3-of-12 {
	width: 23.8%;
}

.span-2-of-12 {
	width: 15.33%; 
}

.span-1-of-12 {
	width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-12-of-12 {
		width: 100%; 
	}
	.span-11-of-12 {
		width: 100%; 
	}
	.span-10-of-12 {
		width: 100%; 
	}
	.span-9-of-12 {
		width: 100%; 
	}
	.span-8-of-12 {
		width: 100%; 
	}
	.span-7-of-12 {
		width: 100%; 
	}
	.span-6-of-12 {
		width: 100%; 
	}
	.span-5-of-12 {
		width: 100%; 
	}
	.span-4-of-12 {
		width: 100%; 
	}
	.span-3-of-12 {
		width: 100%; 
	}
	.span-2-of-12 {
		width: 100%; 
	}
	.span-1-of-12 {
		width: 100%; 
	}
}