@charset "utf-8";
/* CSS Document */
*{ 	
    
    margin:0px;
	padding:0px;
}
body{
    background-image: url(best-subtle-black-white-background-textures.jpg);
    background-size: auto;
	font-size:20px;
	color:#fff;
}
#b ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     margin-left:650px;
    padding-top: 10px;
}

#b ul li a{
    float: left;
}

#b ul li a {
    display: list-item;
    color: #2c3e50;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

#b ul li a.active {
     color: #22e693;
}


#b ul li a:hover:not(.active) {
     color: #22e693;
}

#b ul li:hover > ul {
    display: inline-block;
	}
#b ul ul {
	display: none;
    position:absolute;  
	top:100%;
	left:18%;
	padding:0;
    margin-top: -10px;
    background-color: #fff;
	}
#b ul ul li {
	display:block;
	}
#b ul ul a
	{
	line-height:100%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}	


.logo {
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    width: auto;
    float: left;
}


/* Header */

#b{
    height:70px; 
    width:100%; 
    background-color: #fff;
    position: fixed;
    font-size:16px;
    box-shadow: 0 3px 10px #434343;
}

.main-head{
    height: 30px;
    padding-top: 110px;
    width: auto;
    color: #000;
    text-align: center;
}

h1{
    color: #fff;
    font-weight: 200;
}

h1:after{
    display: block;
    height: 2px;
    background-color: #22e693;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.main-section{
    height: 800px;
    width: 1360px;
}

.head-img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.box-img{
    display: block;
    height: 200px;
    width: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

body{
	background:#000;
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	
	color:#FF0;
}
.container{
	position:absolute;
	max-width:1660px;
	background:#000;
	padding:0px;
	margin:0 auto;
	font-size:20px;
	height:1200px;
	width:1660px;
	}
.parallex{
	position:absolute;
	background:url(6.jpg) no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	height:600px;
	width:1660px;
	margin-top:400px;
	}	
.head1{
	position: absolute;
    font-size: 80px;
    text-align: center;
    text-shadow: 0 0 20px #FF0;
    margin-left: 710px;
    margin-top: 50px;
	}
.head2{
	position: absolute;
    font-size: 80px;
    text-align: center;
    text-shadow: 0 0 20px #FF0;
    margin-left: 545px;
    margin-top: 123px;
	}	
	
.head:after{
	position:absolute;
	content:attr(data-text);
	
	z-index:-1;
	color:#FF0;
	filter: blur(15px);
	
	}	
.para1{
	position:absolute;
	margin-top:261px;
	text-align:center;
	font-size:20px;
	word-spacing:5px;
	line-height:20px;
	}
.para2{
	position:absolute;
	margin-top:328px;
	text-align:center;
	font-size:20px;
	word-spacing:5px;
	line-height:20px;
	}	
.para3{
	position:absolute;
	margin-top:1009px;
	text-align:center;
	font-size:20px;
	word-spacing:5px;
	line-height:20px;
	}	
.video{
	position:absolute;
	margin-top:1200px;
	}
.para4{
	position: absolute;
    margin-top: 1836px;
    align-content: center;
	}
.img1{
	float: right;
    text-align: center;
    height: 400px;
    width: 402px;
    position: absolute;
    margin-top: 2000px;
    margin-left: 395px;
    border-radius: 10px;
	}				
.img2{
	float: right;
    text-align: center;
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top: 2000px;
    margin-left: 821px;
    border-radius: 10px;
	}
.img3{
	float: right;
    text-align: center;
    height: 400px;
    width: 376px;
    position: absolute;
    margin-top: 2000px;
    border-radius: 10px;
	}
.img4{
	float: right;
    text-align: center;
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top: 2000px;
    margin-left: 1244px;
    border-radius: 10px;
	}

/* ---------------------------------- */
/*          Footer   */
/* ---------------------------------- */

footer{
    background-color: #2c3e50;
    padding: 45px; 
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0px;
}

.footer-nav li:first-child,
.social-links li:first-child{
    margin-left: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border-bottom: 0;
    color: #a2a2a2;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #fff;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-googleplus{
    transition: color 0.2s;
}

.icon-facebook:hover{
    color: #3b5998;
}

.icon-twitter:hover{
    color: #00aced;
}

.icon-instagram:hover{
    color: #517fa4;
}

.icon-googleplus:hover{
    color: #d54b39;
}

footer p{
    color: #a2a2a2;
    text-align: center;
    margin-top: 50px;
}